    <div class="employment-experience">
      <div class="section-heading grid-span-two-cols">Employment</div>
      <div class="experience-dates">Nov 2021 - Nov 2023</div>
      <div>
        <p class="experience-title">Economist</p>
        <span class="experience-institution">Compass Lexecon</span>;
        <span>Brussels, BE</span>
      </div>
      <div>
        As an Economist, I assisted in the design and implementation of all
        levels of analysis in support of client cases. In addition to my direct
        participation, I was responsible for managing junior analysts to ensure
        efficient output to meet clients' expectations and budgetary
        requirements. I worked on a variety of competition cases including Abuse
        of Dominance, Damages Assessment, Mergers and Acquisitions, and State
        Aid.
      </div>
      <div>
        <span class="key-responsibilities"
          >Key responsibilities and impact:</span
        >
        <ul>
          <li>
            Drafted memos and rebuttals detailing theory to clients, opposition,
            and the European Commission. Contributed to expert reports to be
            sent by clients to the European Commission or other relevant bodies.
            This enabled the company to distil complicated economic theory into
            an accessible form for more general audiences.
          </li>
          <li>
            Engaged directly with clients through meetings and email to discuss
            strategy and progress and to describe alternate approaches. This
            ensured that work would meet clients' needs and budget requirements.
          </li>
          <li>
            Advised on theoretical foundations underpinning analysis used to
            support clients' claims. This enabled the team to employ the most
            appropriate analysis in an efficient manner.
          </li>
          <li>
            Conducted empirical analysis using Stata and Excel to test
            theoretical claims. This facilitated the rigorous support of
            clients' positions in a way that would stand up to external
            scrutiny.
          </li>
          <li>
            Employed coding background to write dynamic programming scripts.
            This allowed code to be applied to various aspects of a case,
            ensuring efficiency and budgetary compliance.
          </li>
          <li>
            Supervised junior staff in small teams to support all aspects of a
            case, serving as a liaison between junior and senior staff. This
            ensured that workstreams progressed efficiently according to
            clients' expectations and budget requirements.
          </li>
        </ul>
      </div>

      <div class="experience-dates">Sept 2019 - Dec 2020</div>
      <div>
        <p class="experience-title">Lecturer</p>
        <span class="experience-institution">University of California</span>;
        <span>San Diego, US</span>
      </div>
      <div>
        Designing and delivering university courses in Economics for
        undergraduate students. Courses were delivered through twice-weekly
        lectures, problem sets, additional practice problems, and monthly exams.
        I taught introductory and intermediate undergraduate courses including
        Principles of Microeconomics, Principles of Macroeconomics, and
        Financial Markets.
      </div>
      <div>
        <span class="key-responsibilities">Key responsibilities:</span>
        <ul>
          <li>
            Prepared and delivered lectures to undergraduate students covering
            material at the introductory and intermediate level. Class sizes
            ranged from 30 to 200 students.
          </li>
          <li>
            Created original problem sets related to lecture concepts to focus
            learning and emphasize the analytical aspects of material. Drafted
            original exams to evaluate students.
          </li>
          <li>
            Drafted original practice exams to ground students' expectations of
            style and content in advance of exams. Held review sessions in
            preparation for exams to cover difficult topics and field questions.
          </li>
          <li>
            Held weekly office hours to foster student engagement and address
            questions regarding lecture material, problem sets, or other
            practice material.
          </li>
          <li>
            Supervised a team of up to five Teaching Assistants responsible for
            holding weekly discussion sections for students as well as for
            grading problem sets and exams.
          </li>
          <li>
            Authored personalised letters of recommendation, when requested, for
            students I had come to know well over the course of the term.
          </li>
        </ul>
      </div>

      <div class="experience-dates">July 2013 - Aug 2020</div>
      <div>
        <p class="experience-title">Graduate Teaching Assistant</p>
        <span class="experience-institution">Columbia University</span>;
        <span>New York, NY, US</span>
      </div>
      <div>
        Prepared and delivered learning material to assist the primary Lecturer
        in order to help solidify students' learning outside of lecture. I
        taught undergraduate and graduate courses including Principles of
        Economics, Intermediate Microeconomics, the Economics of Risk and
        Uncertainty, and Microeconomic Analysis for Graduate Students.
      </div>
      <div>
        <span class="key-responsibilities">Key responsibilities:</span>
        <ul>
          <li>
            Led weekly discussion sections for students covering challenging
            material and problem set questions from the prior week. Answered any
            questions about the material or course structure and delivered
            announcements from the instructor.
          </li>
          <li>
            Held weekly office hours for students to ask questions about course
            material in an approachable environment. Provided additional
            availability over email as an intermediary between students and the
            instructor.
          </li>
          <li>
            Coordinated with other Teaching Assistants on the grading of problem
            sets and exams. Consulted with instructor on appropriate grading
            criteria and rubric.
          </li>
          <li>
            Contributed to problem set and exam questions. Reviewed exams in
            advance to catch potential errors and ensure commensurate
            difficulty. Provided input to final grade assignments where
            appropriate.
          </li>
        </ul>
      </div>

      <div class="section-heading grid-span-two-cols">Additional experience</div>
      <div class="experience-dates-other">Oct 2011 - Aug 2012</div>
      <div>
        <p class="experience-title">Research Associate</p>
        <span class="experience-institution"
          >Board of Governors of the Federal Reserve</span
        >;
        <span>Washington, DC, US</span>
      </div>
      <div class="experience-dates-other">Oct 2009 - Oct 2011</div>
      <div>
        <p class="experience-title">Research Associate</p>
        <span class="experience-institution">International Monetary Fund</span>;
        <span>Washington, DC, US</span>
      </div>
      <div class="experience-dates-other">Oct 2007 - Aug 2008</div>
      <div>
        <p class="experience-title">Associate Economist</p>
        <span class="experience-institution"
          >Federal Reserve Bank of Chicago</span
        >;
        <span>Chicago, IL, US</span>
      </div>
    </div>
