<div class="about-container">
  <div class="about-description">
    <p>ABOUT ME</p>
    I am a software developer with experience developing solutions for economic
    and tax applications. I am committed to delivering high-quality solutions to
    facilitate and enhance productivity in this sector within the European area
    and abroad. I have experience with a range of tax and competition clients
    under the jurisdiction of the European Commission and the Competition and
    Markets Authority. An analytical and deep thinker, I am interested in
    working in a diverse and international atmosphere with equally passionate
    colleagues.
  </div>
  <img
    class="headshot"
    src="./assets/images/cg_headshot.jpg"
    alt="Chris headshot"
  />
</div>
