<div class="employment-experience">
  <div class="section-heading grid-span-two-cols">Job Market Paper</div>
  <div class="section-subheading">The role of confidence over timing of investment information</div>

  <div class="grid-span-two-rows">
    I present an investment environment wherein investors demand an asset based
    on perfectly informative signals, but face uncertainty about the timing of
    their information acquisition. I show that this reduces the demand and price
    for every period but that in the limit price as number of periods increases
    price converges to the true value of the asset. By introducing a concept of
    confidence over the time in which they receive a signal, I show that the
    impact of uncertainty can be exaggerated in either a negative or positive
    direction, with the limit price reflecting the true value of the asset
    depending on the type of confidence under consideration.
  </div>
    <div class="pdf-icon-link"><a
              href="https://www.linkedin.com/in/christopher-gibson-econ/"
              target="_blank"
              aria-label="JobMarketPaper"
            >
              <img
                src="./assets/images/pdfIcon.png"
                alt="Christopher Gibson Job Market Paper.pdf"
                style="height:100px; align-items: center;"
              />
            </a></div>

  <div class="section-heading grid-span-two-cols">Working Papers</div>
  <div class="section-subheading">Sequential quantity setting under positional uncertainty</div>
  <div class="grid-span-two-rows">
    In a Stackelberg oligopoly setting two firms set quantity without knowing
    whether they are the first or second in the market. I find that with a
    common prior positional uncertainty always leads to a more competitive level
    of quantity. This finding is exacerbated when firms do not share a common
    prior and the sum of their prior beliefs of moving first exceeds unity. Even
    in the presence of a common prior and many identical firms as the number of
    firms increases the equilibrium quantity in the presence of positional
    uncertainty can exceed that of perfect competition.
  </div>

  <div>gibson_stackelberg_uncertainty.pdf</div>
  <div class="section-subheading">Social learning with limited histories</div>
  <div class="grid-span-two-rows">
    I adapt the standard observational learning environment and introduce a
    limited history of observation. When agents can only observe the action of
    the previous agent, complete learning still occurs but with a loss of
    welfare. When a limited history is coupled with uncertainty over position in
    the queue of actors, welfare further drops - increasing in uncertainty - but
    complete learning still occurs in the limit. These results are illustrated
    with a canonical linear model but learning holds in a more general setting
    satisfying the usual social learning assumptions.
  </div>


  <div>gibson_social_learning_limited_history.pdf</div>
</div>
